<div class="login">
<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
      <%= form.text_field :name, placeholder:"Enter your name" %>
        <%= form.password_field :paswword, placeholder:"Enter password"%>
      <%= form.submit "Log in", class:"btn btn-primary btn-block btn-large" %>    
  <% end %>
  </div>
