/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navs {
  width: 100vw;
  background-color: rgb(245, 245, 245);
  height: 50px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 3px 11px 9px -11px rgba(150, 150, 150, 1);
  -moz-box-shadow: 3px 11px 9px -11px rgba(150, 150, 150, 1);
  box-shadow: 3px 11px 9px -11px rgba(150, 150, 150, 1);
}

.nav-content {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right a {
  color: gray;
  text-decoration: none;
  padding-left: 5px;
  transition: 250ms;
}

.cat-card-content a {
  text-decoration: none;
}

.right a:hover {
  color: rgb(255, 107, 21);
  border-bottom: 3px solid rgb(255, 107, 21);
  padding-bottom: 5px;
}

body {
  background-color: bisque;
}

.header-img-wrapper {
  height: 70vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}










.header-img {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.content-wrapper {
  z-index: 1;
  color: white;
  padding-top: 20px;
}

#notice {
  margin-bottom: 0;
}

.img-cat {
  background-color: black;
  width: 100%;
  opacity: 0.6;
  height: 100%;
  padding: 10px 7px;
  border-bottom: 5px solid rgb(255, 207, 74);
  z-index: 3;
}

.title {
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 65%;
  padding: 10px 10px;
  left: 1%;
}

.categories {
  color: gray;
  text-decoration: none;
  padding: 0 5px;
  transition: 250ms;
  font-size: 0.8em;
}

.categories:hover {
  color: rgb(255, 107, 21);
  border-bottom: 3px solid rgb(255, 107, 21);
  padding-bottom: 5px;
}

.logo {
  color: rgb(255, 107, 21);
  font-size: 1.5em;
  text-decoration: none;
}

.logo:hover {
  color: rgb(255, 107, 21);
}

.cat-name {
  text-align: center;
  margin-top: 50px;
}


.cat-card {
  width: 40vw;
  display: flex;
  align-items: center;
}

.cat-card img {
  width: 50%;
  height: 200px;
}

.cat-card-content {
  border: 1px solid transparent;
  height: 200px;
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  display: flex;
  margin: 0 auto;
  width: 100vw;
}

.show-container {
  margin: 0 auto;
  width: 90vw;
}

.show-container .img-section {
  width: 70%;
}

.show-container img {
  width: 100%;
}

.top-detail {
  display: flex;
  justify-content: space-between;
}

.show-containe .top-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name_field {
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgb(240, 224, 194);
  border: none;
  width: 70%;
}

.comment_form {
  display: flex;
  flex-direction: column;
}

.content_field {
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgb(240, 224, 194);
  border: none;
  width: 70%;
  height: 200px;
}

.comment-btn {
  width: 20%;
  background: orange;
  border: none;
  border-radius: 3px;
}

.time-posted small {
  padding-right: 20px;
  color: rgb(255, 81, 0);
}

.top-detail .category-name {
  color: rgb(255, 107, 21);
}

